body {
    margin: 0;
    padding-bottom: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages > li {
    /* padding: 0.5rem 1rem; */
}
#messages > li:not(.system):nth-child(odd) {
    background: #efefef;
}
#messages > li.info {
    /* background: #d3e9cc; */
    color: green;
    padding: 0.1rem 1rem;
}
#messages > li.chat {
    /* padding: 0.5rem 1rem; */
    padding: 0.3rem 0.8rem;
}

#messages > li.chat.system {
    background-color: rgb(225 255 225) !important;
    color: darkslategrey;
    padding: 0.2rem 0.8rem;
    border-radius: 1em;
    margin: 5px 5px;
    border: 1px solid;
    font-size: smaller;
}

#messages .message-sender {
    font-weight: bold;
    display: block;
}

#messages > :not(.system) .message-content {
    font-style: italic;
}

#messages .message-timestamp {
    font-size: x-small;
    font-variant: small-caps;
    display: block;
    text-align: right;
}

.controls {
    height: 2rem;
    background: rgba(0,0,0, 0.15);
    border-top: 1px solid darkgrey;bottom: 0;
    padding: 0.25rem;
    /* padding: 0.5rem; */
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    display: flex;
    height: 2rem;
    overflow-y: hidden; /* Stops long values wrapping behind the input field below */
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.username {
    font-family: monospace;
    width: 33%;
    padding: 0 0.5em;
    white-space: nowrap;
    overflow: hidden;
}

.inline-username {
    font-family: monospace;
}

.joined {
    font-weight: bold;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

/* NOTIFICATONS */

.toast-bottom-right {
    bottom: 15%;
    right: 1%;
}